footer.footer
    .footer__map
        .map__img-container
            img.map__img(src=require('../../../images/footer_izh-map.png'))
        .map-layer
            .footer__container.footer__container_map
                a.footer__map-item(href='#')
                    include ../svg/footer-yama
                    .footer__map-item__text
                        h3.map-item__title ИжЯма
                        span.map-item__description Карта ям на автодорогах Ижевска
                a.footer__map-item(href='#')
                    include ../svg/footer__map
                    .footer__map-item__text
                        h3.map-item__title Карта Ижевска
                        span.map-item__description и справочник органзаций и предприятий
    .footer__layer
        .footer__nav-bg
        nav.footer__nav.gel-layout
            ul.footer__nav-list.footer__nav-list_full
                li(class= 'footer__nav-item footer__nav-item_hidexl gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Главная
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Видео
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Кофемолка
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') ЧБ
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Удмуртия в минуту
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Трансляции
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Последние
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Прямые линии
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Статьи
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Интервью
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Лонгриды
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Последний
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Популярные
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Спецпроекты
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Теплоэнергетика
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') АПК
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Tele2
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Блоги
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Последние
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Популярные
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Авторы
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Мнения
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Цитаты
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Актуальные
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Авторы
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl')
                    a.nav-link.footer__nav-link(href='#') Фото
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Репортажи
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Галерея
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl d-n@xl')
                    a.nav-link.footer__nav-link(href='#') Подкасты
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Программы
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') РСН
                li(class= 'footer__nav-item gel-1/8@l gel-1/10@xl d-n@xl')
                    a.nav-link.footer__nav-link(href='#') Темы
                    ul.footer__nav-sub
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Камский мост
                        li.footer__nav-sub-item
                            a.nav-link.footer__nav-link.footer__nav-sub-item(href='#') Картина дня
            ul.footer__nav-list.footer__nav-list_tablet
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Новости
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Ижевск
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Политика
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Бизнес
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Деньги
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Происшествия
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Здоровье
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Спорт
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Культура
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Прочее
            ul.footer__nav-list.footer__nav-list_tablet
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Удмуртия
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Россия
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Мир
            ul.footer__nav-list.footer__nav-list_tablet
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') Tele2
                li(class= 'footer__nav-item')
                    a.nav-link.footer__nav-link(href='#') АПК
        .gel-layout
            .footer__v-line
            .footer__info
                .footer__distrib
                    span.distrib__title Подпишитесь на ежедневную рассылку
                    form.search-field.distrib__form
                        input.search-field__input.distrib__input(type='text' placeholder='Электронная почта')
                        .search-field__submit.distrib__submit Подписаться
                    .distrib__socials
                        .distrib__socials-container.distrib__socials-container_socials
                            a.distrib__socials-link(href='#')
                                include ../svg/footer__social_tw
                            a.distrib__socials-link(href='#')
                                include ../svg/footer__social_fb
                            a.distrib__socials-link(href='#')
                                include ../svg/footer__social_rss
                        .distrib__socials-container.distrib__socials-container_mail
                            a.distrib__socials-link(href='#')
                                include ../svg/footer__social_mail
                            span.distrib__socials-text Для писем: </br>
                                a.distrib__mail-link(href='mailto:sus@nin.udm.ru') sus@nin.udm.ru
                .footer__contacts
                    span.contacts__copyright &copy; ИА "Сусанин"
                    p.contacts__text-item
                        |Свидетельство о регистрации СМИ ИА № ФС 77-67340 выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 13.10.2016 </br>
                        |Гиперссылка на сайт при перепечатке любых материалов обязательна.
                    p.contacts__text-item
                        |Адрес редакции и издателя: 426011, г. Ижевск, пер. Северный 61 </br>
                        |Телефон редакции: +7 (3412) 57-07-56 </br>
                        |Дизайн — Центр Высоких Технологий.
                    .contacts__text-item
                        .footer__age
                            include footer__age-svg
                            span.footer__age-text Для детей старше 16 лет
                    .contacts__text-item
                        img.footer__stat(src=require('../../../images/footer__stat.png'))
