footer.footer
    .footer__map
        .map__img-container
            img.map__img(src=require('../../../images/footer_izh-map.png'))
        .map-layer
            .footer__container.footer__container_map
                .footer__map-item
                    include ../svg/footer-yama
                    .footer__map-item__text
                        h3.map-item__title ИжЯма
                        span.map-item__description Карта ям на автодорогах Ижевска
                .footer__map-item
                    include ../svg/footer__map
                    .footer__map-item__text
                        h3.map-item__title Карта Ижевска
                        span.map-item__description и справочник органзаций и предприятий

