.login__input {
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #d6dce0;
    height: 50px;
    color: var(--text-black);

    &.error {
        border-color: var(--red-default-link);

        &:focus {
            border-color: var(--red-default-link);
        }
    }

    &:focus {
        border-bottom: 1px solid #8e959d;
    }
}
