.js-login {
    display: flex;
    text-decoration: none;
    color: var(--header-gray-text);
    font-size: 18pt;
    align-items: center;

    &:hover {
        color: #fff;
    }

    &:hover svg {
        fill: #fff;
    }

    &:active {
        color: var(--red-default-link);
    }

    &:active svg {
        fill: var(--red-default-link);
    }
}

.login-text {
    font-size: var(--header-font-size);
}
