.login-with-social {
    background-color: var(--light-gray-bg);
    padding: 38px 20px 38px 20px;

    &-socials {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 5px;
    }

    &__item:last-child {
        margin-right: 0;
        margin-right: 0;
    }

    &__title {
        display: block;
        font-size: 18px;
        margin-bottom: 20px;
    }
}
