.login__i {
    fill: #fff;

    &_fb {
        width: 12px;
    }

    &_tw {
        width: 22px;
    }

    &_vk {
        width: 14px;
    }

    &_ok {
        width: 14px;
    }

    &_mk {
        width: 25px;
    }

    &_gp {
        width: 26px;
    }
}
