.login__social-item {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_fb {
        background-color: #3b5998;
    }

    &_gp {
        background-color: #dd4b39;
    }

    &_vk {
        background-color: #4c75a3;
    }

    &_tw {
        background-color: #1da1f2;
    }

    &_ok {
        background-color: #ef8a39;
    }

    &_mk {
        background-color: #168de2;
    }

}
