.article__title {
    font-size: 25px;
    display: inline-block;

    &_all-news {
        font-size: 40px;
    }

    @media (--media-grid-col-8) {
        font-size: 20px;
        line-height: 25px;
    }
}
