.comments-info {
    display: flex;
    align-items: center;
}

.comments {
    &-svg {
        width: 17px;
        height: 17px;
        fill: #8e959d;
    }

    &__count {
        margin-bottom: 5px;
        font-size: 13px;
        color: var(--elements-gray);
        margin-left: 6px;
    }
}
