.section {
    &__header {
        display: flex;
        justify-content: space-between;

        &_to_none {
            @media (--media-tabs-none-size) {
                display: none;
            }
        }


        &_hidden {
            display: none;

            @media (--media-tabs-none-size) {
                display: block;
            }
        }
    }

    &__title {
        display: flex;
        align-items: flex-end;
    }
}
