.show-more {
    background-color: #fff;
    border: 2px solid var(--light-gray-border);
    padding: 0 30px;
    border-radius: 25px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #8e959d;
    cursor: pointer;

    &:hover {
        background-color: var(--red-default-btn);
        border-color: var(--red-default-btn);
        color: #fff;
    }

    &:active {
        background-color: var(--red-default-link);
        border-color: var(--red-default-link);
    }
}
