.slider {
    &__viewport {
        overflow: hidden;
    }

    &__row {
        display: flex;
        width: auto;
        transition: 0.4s ease;
    }

    &__slide {
        width: 100%;
        flex-shrink: 0;
    }
}
