.views-info {
    display: flex;
    align-items: center;
}

.views {
    &-svg {
        width: 18px;
        height: 13px;
        fill: #8e959d;
    }

    &__count {
        font-size: 13px;
        color: var(--elements-gray);
        margin-left: 6px;
    }
}
