ul.section-social
    li.section-social-item
        a.section-social-link.section-social-link_fb(href="#")
            include section-social__fb
            span.section-social-link__count 256
    li.section-social-item
        a.section-social-link.section-social-link_vk(href="#")
            include section-social__vk
            span.section-social-link__count 128
    li.section-social-item
        a.section-social-link.section-social-link_tw(href="#")
            include section-social__tw
    li.section-social-item
        a.section-social-link.section-social-link_ok(href="#")
            include section-social__ok
    li.section-social-item
        a.section-social-link.section-social-link_mk(href="#")
            include section-social__mk
    li.section-social-item
        a.section-social-link.section-social-link_gp(href="#")
            include section-social__gp
    li.section-social-item
        a.section-social-link.section-social-link_tg(href="#")
            include section-social__tg
    li.section-social-item
        a.section-social-link.section-social-link_wa(href="#")
            include section-social__wa
