include ../common/author-info
include ../common/views-info
include ../cards/card_blog

mixin blogMiniItem(name, img, text)
    .blogs__mini-item
        a.blogs__mini-item-text(href='#')= text
        .blogs__author
            +authorInfo(name, img)


.aside__blogs
    span.blogs__title Блоги

    +card(cardTypes.blogCard_2x2, {
        title: 'Что такое быть мамой мальчика',
        img: 'blogs-general-bg.png',
        author: {name: 'Татьяна Шумихина', img: 'shumihina.png'},
        views: 128
    })

    +blogMiniItem('Блог Георгия Поветкина', 'povetkin.png', 'Финал в полуфинале')
    +blogMiniItem('Олег Вылегжанин', 'vylegzhanin.png', 'Про нынешний Rock IZH-IT фест')
    .blogs__mini-item.blogs__mini-item_links
        a(href='#').blogs__bottom-link Все блоги
        a(href='#').blogs__bottom-link Все блогеры



