- const asideCl = ['aside', 'gel-layout__item', 'js-aside', 'gel-2/8@m ', 'gel-2/8@l', 'gel-2/10@xl'];
aside(class= asideCl)
    .aside__pic-container
        img.aside__pic(src=require('../../images/aside__pic1.png'))
    include aside__blogs
    include aside__vk
    .aside__pic-container
        img.aside__pic(src=require('../../images/aside__pic2.png'))
    include aside__out-ads
    include aside__ads

