form.login-form-inputs.login-form-inputs_auth-form
    .login-input-row
        input.login__input(type="text" placeholder="Логин" name="login")
    .login-input-row
        input.login__input(type="password" placeholder="Пароль" name='password')
        include login-pass-forgot
    include login__btn
    +loginButton("Войти")
