ul.login-with-social-socials
    li.login-with-social__item
        a.login-with-social__link(href="#")
            include socials/login__i_fb
    li.login-with-social__item
        a.login-with-social__link(href="#")
            include socials/login__i_vk
    li.login-with-social__item
        a.login-with-social__link(href="#")
            include socials/login__i_tw
    li.login-with-social__item
        a.login-with-social__link(href="#")
            include socials/login__i_ok
    li.login-with-social__item
        a.login-with-social__link(href="#")
            include socials/login__i_mk
    li.login-with-social__item
        a.login-with-social__link(href="#")
            include socials/login__i_gp
