extends ../layouts/layout
block main
    include ../blocks/common/show-more
    include ../blocks/search-input
    include ../blocks/search-input_white
    include ../blocks/header/header/header_tw
    include ../blocks/header/header/header_fb
    include ../blocks/header/header/header_rss
    include ../blocks/header/header/login
    include ../blocks/header/burger
    .container(style="height:50px")
        +menuBurger("", "Все разделы")
    .container(style="height:50px")
        +menuBurger("", "Закрыть")
    include ../blocks/date-circle
    +date-circle(1, true, "14", "сентября", "вт")
    +date-circle(2, true, "8", "2", "сентября")
    +date-circle(3, true, "2", "сентября", "30", "августа")
    +date-circle(4, true, "сентябрь", "2016")
    +date-circle(5, true, "2016")
    +date-circle(6, true)

    +date-circle(1, false, "14", "сентября", "вт")
    +date-circle(2, false, "8", "2", "сентября")
    +date-circle(3, false, "2", "сентября", "30", "августа")
    +date-circle(4, false, "сентябрь", "2016")
    +date-circle(5, false, "2016")
    +date-circle(6, false)

    include ../blocks/common/tab
    include ../blocks/common/close-popup
    .log-forgot(style="position:relative; width:50px;")
        include ../blocks/login-form/login-pass-forgot
    include ../blocks/login-form/login__btn
    include ../blocks/login-form/login-form
    include ../blocks/common/article__title
    include ../blocks/common/tab
    include ../blocks/common/section__header
    +section__header('Заголовок', [{title: 'таб1', active: true}, {title: 'таб2'}])
    include ../blocks/news-view
    .search-block(style="position:relative")
        <style>.search-field { display: block; }</style>

        include ../blocks/header/search/search-field
    include ../blocks/header/search/search-field
    include ../blocks/common/symbol
    +symbol("A")
    include ../blocks/svg/views-svg
    include ../blocks/svg/comments-svg
    include ../blocks/marks/mark-photo
    include ../blocks/marks/mark-play
    include ../blocks/marks/mark-podcast
    include ../blocks/marks/mark-longrid
    +markLongrid("Лонгрид")
    +markLongrid("Спецвыпуск")
    include ../blocks/section/tag
    +tag("#тег")
    include ../blocks/common/arrow-left
    include ../blocks/common/arrow-right
    include ../blocks/section/section-social
    include ../blocks/section/show-comments
    +showComments("24 комментария")
    include ../blocks/common/comments-info
    +commentsInfo("23")
    .datepicker
