extends ../layouts/layout
block main
    include ../blocks/search-header
    include ../blocks/show-more
    include ../blocks/search-input
    include ../blocks/search-input_white-bg
    include ../blocks/header_tw
    include ../blocks/burger
    include ../blocks/date-circle
    include ../blocks/data-circle_red
