extends ../layouts/layout
block main
    include ../blocks/header/header/header
    include ../blocks/header/header_fixed/header-fixed
    include ../blocks/header/header_full
    main.main.gel-layout
        include ../blocks/indexContent
        include ../blocks/aside/aside
    include ../blocks/footer/footer

