extends ../layouts/layout
block main
    include ../blocks/header
    include ../blocks/header-fixed
    include ../blocks/header_full
    .container(style="height:1800px")
    #datepicker(type='text')
    .container(style="height:1000px")
