mixin menuBurger(cl, text)
    -if(cl == "_fixed")
        button.menu-burger.menu-burger_fixed
            -if(text == "Все разделы")
                include ../svg/burger-svg
                span= text
            -else if(text == "Закрыть")
                include ../svg/burger-close__svg
                span= text
    -else
        button.menu-burger
            -if(text == "Все разделы")
                include ../svg/burger-svg
                span= text
            -else if(text == "Закрыть")
                include ../svg/burger-close__svg
                span= text

