mixin js-search-header(cl)
    -if(cl == "_min")
        .js-search-header.js-search-header_min
            include ../search/search-header__svg
            include ../search/search-field
            +search-field(cl)
    -else
        .js-search-header
            include ../search/search-header__svg
            include ../search/search-field
            +search-field(cl)
