nav.nav
    .nav-line
        .nav-container
            ul.nav-bar
                li.nav-item
                    a.nav-link.header__main-link(href='#') Главная
                each val in ['Видео',    'Live',    'Статьи',    'Лонгриды',    'Спецпроекты',    'Блоги',    'Мнения',    'Цитаты',    'Фото',    'Подкасты']
                    li.nav-item
                        a.nav-link(href='#')=val
            .v-line.v-line_nav
            ul.nav-bar.nav-bar_important
                li.nav-item
                    a.nav-link(href='#') АПК
                li.nav-item
                    a.nav-link(href='#') Tele2
        include ../burger
        +menuBurger("", "Все разделы")
        include js-search-header
        +js-search-header("_min")
    hr.nav-line-hr
    .nav-line.nav-line_second
        .nav-container
            ul.nav-bar
                each val in ['Новости',    'Ижевск',    'Политика',    'Бизнес',    'Деньги',    'Происшествия',    'Здоровье',    'Спорт',    'Культура',    'Прочее']
                    li.nav-item
                        a.nav-link(href='#')=val
            .v-line.v-line_nav
            ul.nav-bar.nav-bar_important
                li.nav-item
                    a.nav-link(href='#') Удмуртия
                li.nav-item
                    a.nav-link(href='#') Россия
                li.nav-item
                    a.nav-link(href='#') Мир
