.menu-burger {
    background-color: var(--red-default-btn);
    height: 50px;
    color: #fff;
    font-size: 12pt;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
