.nav-line {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;

    @media (--media-mobile-size) {
        &_second {
            display: none;
        }
    }
}


