.search-input_white-bg {
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {

    }

    &:hover svg {
        fill: #c52a19;
    }
}
