.search-input {
    height: 70px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: #fff;
    font-size: 25pt;
    font-family: "PT Sans";
    border: none;
}
