.show-more {
    background-color: #fff;
    border: 2px solid #d6dce0;
    padding: 20px 40px;
    border-radius: 36px;
    font-size: 18pt;
    font-weight: bold;
    color: #8e959d;

    &:hover {
        background-color: #c52a19;
        border-color: #c52a19;
        color: #fff;
    }

    &:active {
        background-color: #f23f2c;
        border-color: #f23f2c;
    }
}
