.show-more {
    background-color: #fff;
    border: 2px solid #d6dce0;
    padding: 20px 40px;
    border-radius: 36px;
    font-size: 18pt;
    font-weight: bold;
    color: #8e959d;

    &:hover {
        background-color: var(--red-default-btn);
        border-color: var(--red-default-btn);
        color: #fff;
    }

    &:active {
        background-color: var(--red-default-link);
        border-color: var(--red-default-link);
    }
}
