.v-line {
    width: 1px;
    height: 50%;
    background-color: #404a56;
    margin: 0 20px;

    &_last {
        margin-right: 0;
    }

    &_header {
        height: 40px;
    }

    &_nav {
        height: 20px;
    }

    @media (--media-tablet-size) {
        &_to-out {
            display: none;
        }
    }

}
