include article__title
include tab
mixin section__header(title, tabs, hasNavBtns)
    .section__header
        .section__title
            -if(title !== '')
                +article__title(title)
                -if (tabs.length > 0)
                    .article-header__v-line
            -if (tabs.length > 0)
                each val in tabs
                    +tab(val)
        -if(hasNavBtns)
            .section__nav-btns
                include arrow-left
                include arrow-right
