include article__title
include tab
mixin section__header(title, tabs, hasNavBtns, to_none)
    -const sectionHeaderCl = ['section__header'];
    -if(to_none)
    -   sectionHeaderCl.push('section__header_to_none');
    div(class= sectionHeaderCl)
        .section__title
            -if(title !== '')
                +article__title(title)
                -if (tabs.length > 0)
                    .article-header__v-line
            -if (tabs.length > 0)
                each val in tabs
                    +tab(val)
        -if(hasNavBtns)
            .section__nav-btns
                include arrow-left
                include arrow-right
