.full-submenu {
    list-style: none;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-left: 20px;
    }

    &__link {
        font-size: 14px;
        color: var(--header-gray-text);
        text-decoration: none;

        &:hover {
            color: var(--red-default-btn);
        }
    }
}
