.header-container
    .header-row-logo
        .header-row-container
            .header-row-logo-left
                include logo
                include city
            .header-row-logo-right
                ul.header-row-logo-list
                    li.row-logo-item
                        include search-header
                    li.row-logo-item
                        .header_v-line
                    li.row-logo-item
                        include currency
                    li.row-logo-item
                        .header_v-line
                    li.row-logo-item
                        include social
                    li.row-logo-item
                        .header_v-line
                    li.row-logo-item
                        include login
                    li.row-logo-item
                        .header_v-line.header_v-line_last

    .header-row-nav
        .header-row-container
            include nav
    .header-row-hot
        .header-row-container
            include hot

