.login-form
    .login-form-content
        include tab
        .login-header
            .tabs-container
                +tab("Вход", true)
                +tab("Регистрация", false)
            include close-popup
        .login-body
            include auth
            include register
    include login-with-social
    include login-form-message
