.header-row-nav {
    background-color: #0e1d2e;
    color: #fff;

    &_full {
        position: absolute;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s;
        z-index: 10;
    }
}
