.header_full {
    z-index: 99;
    width: 100%;

    &__close-container {
        height: 50px;
        display: flex;
        justify-content: flex-end;

        @media (--media-mobile-size) {
            & {
                justify-content: flex-start;
            }
        }
    }

    &__nav {
        display: flex;
        padding-bottom: 50px;
    }
}
