mixin allWithoutImg(data)
    - const topImgCl = ['card', 'card_top', 'card_top_wimg'];
        div(class= topImgCl)
            a.card__content(href='#')
                .card__container
                    .card__info
                        p.card__title= data.title
                        .card__bottom-info
                            -if(data.date)
                                span.card__date= data.date

