-const cardTypes = {
-                    imgMarkCard: 0,
-                    blogCard_4x2: 4, blogCard_2x2: 5, blogCard_2x1: 6
-                   };
-const marks = { play: 'play.pug', photo: 'photo.pug', longrid: 'longrid.pug', podcast: 'podcast.pug' };

    include imgBgMark
    include card_blog
mixin card(type, data)
    case type
        when cardTypes.imgMarkCard
            +ImgBgMark(type, data)
        when cardTypes.blogCard_4x2
        when cardTypes.blogCard_2x2
        when cardTypes.blogCard_2x1
            +blogCard(type, data)

