-const cardExtended = 'gel-layout__item gel-1/1@l gel-6/8@xl';
-const cardLarge = 'gel-layout__item gel-4/6@l gel-6/8@xl';
-const cardMedium = 'gel-layout__item gel-4/6@l gel-4/8@xl';
-const cardSmall = 'gel-layout__item gel-2/6@l gel-2/8@xl';
