mixin topWithoutImg(data, important)
    - const topImgCl = ['card', 'card_top', 'card_top_short'];
    -if(important) topImgCl.push('card_top_important');
    div(class= topImgCl)
        a.card__content(href='#')
            .card__container
                .card__info
                    p.card__title
                         span.card__date= `${data.date}`
                         = `${data.title}`
